PRODUCTION=False
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.dev
USING_MANAGED_STORAGE=False
USE_DOCS=True

# Security - Generate new key!
DJANGO_SECRET_KEY=secret-key

# Database (matches docker-compose service name)
POSTGRES_NAME=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_HOST=db_host

# Redis (matches docker-compose service name)
REDIS_HOST=redis
REDIS_PORT=6379
CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0

# CORS - Update with your frontend URL
CORS_ALLOW_ALL_ORIGINS=False
DJANGO_CORS_ALLOWED_ORIGINS=https://frontend-url.com

# Allowed Hosts - Update with your domain/IP
ALLOWED_HOSTS=allowed-hosts

# Gemini AI
GEMINI_API_KEY=your-gemini-api-key
GEMINI_MODEL=gemini-2.5-flash

# Email
EMAIL_HOST_USER=noreply@balancedplate.me
RESEND_API_KEY=your-resend-api-key

# AWS S3 for media storage
DJANGO_AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
DJANGO_AWS_ACCESS_KEY_ID=your-aws-access-key-id
DJANGO_AWS_STORAGE_BUCKET_NAME=your-s3-bucket-name
DJANGO_AWS_S3_REGION_NAME=your-s3-region

# CI/CD
CI_REGISTRY_IMAGE=ghcr.io/temake/balanced-plate/