<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">
    <h2>Hello {{ name|default:"User" }},</h2>

    <p>{{ message|safe }}</p>

    <div style="background: #007bff; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px;">
        {{ otp }}
    </div>

    <!-- <p style="margin-top: 20px;">If you didn’t request this, you can ignore this email.</p> -->
</body>
</html>
